@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: rgb(0, 0, 0);
        --foreground: rgb(245, 106, 36);

        --muted: rgb(12, 12, 12);
        --muted-foreground: rgb(141, 67, 14);

        --popover: rgb(0, 0, 0);
        --popover-foreground: rgb(245, 106, 36);

        --card: rgb(0, 0, 0);
        --card-foreground: rgb(245, 106, 36);

        --border: rgb(25, 19, 15);
        --input: rgb(25, 19, 15);

        --primary: rgb(230, 107, 25);
        --primary-foreground: rgb(22, 22, 22);

        --secondary: rgb(12, 12, 12);
        --secondary-foreground: rgb(230, 107, 25);

        --accent: rgb(12, 12, 12);
        --accent-foreground: rgb(230, 107, 25);

        --destructive: rgb(149, 149, 149);
        --destructive-foreground: rgb(22, 22, 22);

        --ring: rgb(245, 106, 36);

        --radius: 0.5rem;
    }

    .dark {
        --background: rgb(245, 106, 36);
        --foreground: rgb(22, 22, 22);

        --muted: rgb(216, 57, 17);
        --muted-foreground: rgb(92, 45, 14);

        --popover: rgb(245, 106, 36);
        --popover-foreground: rgb(22, 22, 22);

        --card: rgb(245, 106, 36);
        --card-foreground: rgb(22, 22, 22);

        --border: rgb(216, 57, 17);
        --input: rgb(216, 57, 17);

        --primary: rgb(22, 22, 22);
        --primary-foreground: rgb(230, 107, 25);

        --secondary: rgb(216, 57, 17);
        --secondary-foreground: rgb(22, 22, 22);

        --accent: rgb(216, 57, 17);
        --accent-foreground: rgb(22, 22, 22);

        --destructive: rgb(177, 160, 160);
        --destructive-foreground: rgb(22, 22, 22);

        --ring: rgb(44, 26, 15);
    }
}

@layer base {
    * {
        @apply border-border p-0 m-0 box-border;
    }
    body {
        @apply min-h-screen bg-background text-foreground;
    }
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-3xl font-bold;
    }
    h3 {
        @apply text-2xl font-bold;
    }
}

.container {
    @apply flex flex-col justify-center items-center min-h-[84dvh];
}

.layout {
    @apply bg-secondary min-h-[8dvh];
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-alt);
}

::selection {
    background: var(--primary);
    color: var(--light);
}
